{% extends 'main.html'%}

{% block sub_content%}
{% with messages=get_flashed_messages(with_categories=True)%}
 {% if messages %}
    {% for category,message in messages%}
    <div class="alert alert-{{category}}" role="alert">
        {{message}}
       </div>
    {% endfor %}
  {% endif%}
{% endwith %}
     
        <!-- <h1>Welcome To Flask {{session['username']}}</h1> -->
        <div class="container-fluid">
          <ul class="breadcrumb">
              <li class="breadcrumb-item active">Home</li>
            </ul>
      </div>
      <div class="container">
      <h1>Posts</h1>
      <hr>
    </div>
      {% if blogposts %}
        {% for posts in blogposts %}
        <div class="container">
         <a href="/{{posts.title}}" style="text-decoration: none;"> <h1>{{posts.title}}</h1></a>
          <p>{{posts.content|safe}}</p>
         <p> Written by:<a href="/author/{{posts.author}}" style="font-weight: bold;"> {{posts.author}} </a> on {{posts.date}}</p>
         <hr>
        </div>
        
        {% endfor%}
      {% else %}
        <p></p>
      {% endif %}
{% endblock %}